.main{
    width: 1000px;
    box-shadow: 1px 1px 1px 1px rgb(224, 20, 20);
}

.main-left, .main-right {
    width: 55px;
    box-shadow: 0px 0px 25px 10px ;
}
.main-left
{
    width: 250px;
    box-shadow: chartreuse;
}
.main-right
{
    width: 750px;
    box-shadow: chartreuse; 
}